.container-lg {
    margin-left: 0;
}
/*Navbar*/
.nav-bk4 {
    background: #070000;
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);
    background: linear-gradient(to right, #070000, #4C0001, #070000);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}
/*Navbar*/
body {
    background-color: #2C2F33;
    color: #99AAB5;
}

/*About page*/
.info {
    font-style: italic;
    color: #99AAB5;
    font-family: "sans-serif";
    font-size: larger;
    text-align: center;
}

.Novinky, .Recenzie, .Rozhovory, .Videa {
    font-size: large;
    color: wheat;
    font-style: oblique;
    text-align: center;
}

.Novinky:hover {
    background-color: black;
}

.Recenzie:hover {
    background-color: #ff0000;
}

.Rozhovory:hover {
    background-color: #700279;
}

.Videa:hover {
    background-color: #cbb5ac;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    margin-bottom: 10px;
    opacity: .5;
    transition: opacity .6s ease;
}

.d-md-block {
    background: #383637;
    opacity: 75%;
}
/*About page*/

.contact {
    text-align: center;
}
.map-container iframe {
    height: 520px;
    width: 80%;
}
/*Contact page*/

/*Post component*/
.card-img-top {
    align-content: center;
    align-self: center;
    height: 25rem;
    width: 25.7rem;
}
/*Post component*/

.card-body {
    background-color: #2C2F33;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
/*zmena farbu textu v tabulkach (admin)*/
td, tr {
    color: #99AAB5;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #4237c4;
}

/* topGames&Postcomponent Zoom In #1 */
.hover01 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
}

.hover01 img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    position: relative;

}

/*postcomponent*/
.cardNastenka {
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    overflow: hidden;
    background-color: #2C2F33;
    border-radius: 10px;
    width: 25.7rem
}

.card-bodyNastenka {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.najhrybodycard {
    height: 14rem;
    width: 18rem;
}

.cardNajHry {
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    overflow: hidden;
    background-color: #2C2F33;
    border-radius: 10px;
}

.imageTopGames {
    max-width: 100%;
}

.userheaderindex {
    background-color: #1b2838;
}

.card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.image img {
    width: 100%;
    margin-top: -10%;
}

@media only screen and (max-width: 500px) {

    .image {
        height: 15rem;
    }

    .ml-5 {
        margin-left: 0 !important;
    }

    .card-img-top {
        height: 13rem;
        width: 14.7rem;
    }
}

@media only screen and (min-width: 310px) {
    .card-img-top {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (min-width: 500px) {

    .image {
        height: 20rem;
    }
}

@media only screen and (min-width: 900px) {

    .table-responsive {
        display: table;
    }
}

/* Table when viewport is sized: 0 - 1000 */
@media only screen and (max-width: 1000px) {
    .table {
        width: 55rem;
    }
}

@media only screen and (min-width: 1000px) {


    .image {
        height: 35rem;
    }

    .post {
        padding: 0 0px;
    }

    .table-responsive{
        display: block;
    }

    .table {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .post {
        padding: 0 200px;
    }
}

@media only screen and (min-width: 1600px) {
    .post {
        padding: 0 350px;
    }
}

.comment-timestamp {
    font-size: 12px;
}

textarea {
    white-space: pre-wrap;
}
.preserve {
    white-space: pre-wrap;
}
